* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header releted style */
header {
}
.top-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
  width: 1100px;
  margin: auto;
  text-align: center;
  border-radius: 15px;
}
.header-greeting {
  color: white;
  font-size: 35px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  line-height: 100px;
  padding-top: 180px;
}
.header-title {
  color: white;
  font-size: 70px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  width: 600px;
  margin: auto;
}

/* banner section  */

.banner {
  margin-top: 100px;
}
.banner-discount {
  color: red;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.banner-cap {
  font-size: 23px;
  color: red;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}
.banner-title {
  color: black;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
}
.banner-img {
  margin: 40px auto 0;
  width: 800px;
}

/* welcome section styles */

.welcome {
  height: 600px;
  width: 1100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.507)),
    url("./B9A1-New-Year-New-Mission-main/resources/Vectorrr.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin: 100px auto 100px;
  gap: 50px;
  border-radius: 15px;
}
.welcome-text {
}
.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 65px;
  font-weight: 900;
  letter-spacing: 7px;
  padding-top: 100px;
}

.welcome-discription {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}

.welcome-join {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 70px;
  padding-top: 30px;
}

/* party invitetion section styles */

.party-invitetion {
  background: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  height: 460px;
  width: 1100px;
  margin: 100px auto 0px;
  border-radius: 15px;
}
.party-invaitetion-letter {
  text-align: center;
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.down-100px {
  padding-top: 100px;
}
.party-span {
  color: red;
}
.party-btn,
a {
  border-radius: 8px;
  background: #f00;
  color: white;
  font-size: 23px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  padding: 10px 25px;
  border: none;
  text-decoration: none;
}

.partyBtn {
  padding-left: 450px;
  padding-top: 50px;
}

/* best offer section styles  */

/* best offer left styles */

.best-offer {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 500px;
  margin: 100px auto 100px;
  gap: 50px;
}
.best-offer-left {
}
.offer-left-cap {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.offer-left-title {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  padding-top: 15px;
}
.offer-left-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 25px;
  width: 350px;
}
/* best offer img  */
.best-offer-middle {
  border-radius: 50%;
  border: 8px solid red;
  width: 350px;
  height: 350px;
}
.best-offer-middle img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  margin: 17px;
}

/* best offer right styles  */

.best-offer-right {
}
.offer-right-head {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.offer-right-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 16px;
}
.best-offer-right img {
  padding-top: 16px;
}

/* holiday section styles */

.holiday {
  width: 1100px;
  margin: auto;
}

.holiday-top {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.holiday-title {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  padding-top: 20px;
}
.holiday-title-span {
  color: red;
}
.holiday-discription {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  width: 800px;
  margin: auto;
  padding-top: 20px;
}
.holiday-img {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  background-image: url("./B9A1-New-Year-New-Mission-main/resources/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 629px;
  padding-top: 50px;
  border-radius: 0px 0px 10px 10px;
}
.holiday-img1 {
  width: 500px;
}
.holiday-img2 {
  width: 400px;
  height: auto;
  margin-bottom: 229px;
}

/* portfolio section styles*/

.portfolio {
  width: 1100px;
  margin: 100px auto 100px;
}
.portfolio-head {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-title {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-top: 20px;
}
.portfolio-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 800px;
  padding-top: 20px;
}
.product-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  padding-top: 20px;
}
.product-img img {
  width: 350px;
  transition: .6s;
}
.product-img img:hover{
  transform: rotateY(180deg);
  border: 2px solid red;
  border-radius: 15px;
  
}

/* subscribe section styles  */

.subscribe {
  width: 1100px;
  margin: auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px;
}
.subscribe-img {
  width: 150px;
  height: 150px;
}
.subscribe-title {
  color: #070211;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-top: 20px;
}
.subscribe-discription {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; 
  padding-top: 20px;
  width: 800px;
  margin: auto;
  padding-bottom: 20px;
}

.subscribe .email {
 padding: 15px 30px;
 font-size: 20px;
border: none;
 border-radius: 50px 0 0 50px;
 margin-right: -5px;

}
.subscribe .submit{
  padding: 15px 30px;
  font-size: 20px;
  background: red;
  color: white;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 0 50px 50px 0;
}

/* footer section styles */

footer{
  background: black;
  margin-top: 100px;

}
.footer-top{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  font-size: 24px;
}
.footer-adderess{
  color: white;
  width: 330px;
  line-height: 40px;
  padding-top: 80px;
}
.footer-contact {
  color: white;
  padding-top: 62px;

}
.footer-contact img{
  margin-left: -35px;
  margin-bottom: -34px;
}

.footer-social{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}
.footer-hr{
  width: 1100px;
  margin: auto;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin-top: 50px;
  border: none;
  
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  color: white;
  width: 1100px;
  margin: auto;
  padding-top: 60px;
  font-size: 24px;
  padding-bottom: 80px;
}